@import "tailwindcss";

:root {
  --background: #ebeef3;
  --foreground: #171717;
}

*,*::after, *::before {
  /* box-sizing: border-box; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


body {
  background: var(--background);
  color: var(--foreground);
}

.filmsImage {
  border: 3px solid transparent;
}

.filmsImage:hover {
  outline-offset: 2px;
  border: 3px solid #0099FF;
}

.filmsImage:hover::after {
  inset: 0;
  content: "";
  background-color: rgb(0, 0, 0, 0.45);
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(1px);
}
